* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.switch-container {
  text-align: center;
}
.switch-container h1 {
  margin: 1rem 0;
}

.switch__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch__item input {
  display: none;
}
.switch__item label {
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: darkgray;
  border-radius: 50px;
  position: relative;
  margin: 20px;
  cursor: pointer;
}
.ball {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s linear;
}
.switch__item input:checked + label{
  background-color: blueviolet;
}
.switch__item input:checked + label .ball {
  transform: translateX(40px);
}
